@model (CreateModel,JoinModel)
@{
    ViewData["Title"] = "Home";
}
<div class="text-center">
    <h2>Покер Планирования</h2>
</div>
<br />
<div style="overflow:hidden; object-position:center; " class="col-auto">

    <div style="width: 100%; margin-left: 125px;">

        <div class="SignForm">
            <form asp-action="RoomCreate" asp-controller="Home" asp-antiforgery="true" method="post">
                <br />

                <h4 style="margin-bottom: 5%;">
                    Создание комнаты
                </h4>

                <div style="margin-bottom: 5%;">
                    <label asp-for="@Model.Item1.Name"></label>
                    <br />
                    <input type="text" asp-for="@Model.Item1.Name" class="InputForm" />
                </div>

                <div style="margin-bottom: 5%;">
                    <label asp-for="@Model.Item1.RoomTitle"></label>
                    <br />
                    <input type="text" asp-for="@Model.Item1.RoomTitle" class="InputForm" />
                </div>

                <div style="margin-bottom:5%;">
                    <label asp-for="@Model.Item1.Password"></label>
                    <br />
                    <input type="password" asp-for="@Model.Item1.Password" class="InputForm" />
                </div>

                <div style="margin-bottom: 5%;">
                    <label asp-for="@Model.Item1.CardsType"></label>
                    <br />
                    <select name="CardsType" asp-for="@Model.Item1.CardsType" style="font-size:12px;">
                        <option value=1>1,2,3,5,8,13,20,40,100,∞,?,CC</option>
                        <option value=2>1,2,3,5,8,13,20,40,?</option>
                        <option value=3>XS,S,M,L,XL,XXL,?</option>
                        <option value=4>1,2,5,10,20,50,100</option>
                    </select>
                </div>

                <input type="submit" value="Создать" style="margin-bottom:10%" class="topicBTN" />

            </form>
        </div>

        <div style="float:left; width: 65px; height: 100px;"></div>

        <div class="SignForm">

            <form asp-action="RoomJoin" asp-controller="Home" asp-antiforgery="true" method="post">
                <br />

                <h4 style="margin-bottom: 5%;">
                    Присоединение к комнате
                </h4>

                <div style="margin-bottom: 11%;">
                    <label asp-for="@Model.Item2.Name"></label>
                    <br />
                    <input type="text" asp-for="@Model.Item2.Name" class="InputForm" />
                </div>

                <div style="margin-bottom: 11%;">

                    <label asp-for="@Model.Item2.RoomId"></label>
                    <br />
                    <input type="number" asp-for="@Model.Item2.RoomId" class="InputForm" />
                </div>

                <div style="margin-bottom: 7%;">
                    <label asp-for="@Model.Item2.Password"></label>
                    <br />
                    <input type="password" asp-for="@Model.Item2.Password" class="InputForm" />
                </div>

                <br />


				<input type="submit" value="Присоединиться" style="margin-bottom:5%" class="topicBTN"/>                
            </form>
        </div>
    </div>
</div>