@{
    ViewData["Title"] = "Home";
}
<div class="text-center">
    <h2>Покер Планирования</h2>
</div>
<br />
<div style="overflow:hidden; object-position:center; " class="col-auto">

    <div style="width: 100%; margin-left: 125px;">

        <div class="SignForm">
            <form asp-action="RoomCreate" asp-controller="Home" asp-antiforgery="true" method="post">
                <br />

                <h4 style="margin-bottom: 5%;">
                    Создание комнаты
                </h4>

                <div style="margin-bottom: 5%;">
                    @Html.Label("Имя")
                    <br />
                    <input type="text" name="Name" />
                </div>

                <div style="margin-bottom: 5%;">
                    @Html.Label("Название комнаты")
                    <br />
                    <input type="text" name="RoomTitle" />
                </div>

                <div style="margin-bottom:5%;">
                    @Html.Label("Пароль")
                    <br />
                    <input type="password" name="Password" />
                </div>

                <div style="margin-bottom: 5%;">
                    @Html.Label("Тип карт")
                    <br />
                    <select name="CardsType" style="font-size:12px;">
                        <option value=1>1,2,3,5,8,13,20,40,100,∞,?,CC</option>
                        <option value=2>1,2,3,5,8,13,20,40,?</option>
                        <option value=3>XS,S,M,L,XL,XXL,?</option>
                        <option value=4>1,2,5,10,20,50,100</option>
                    </select>
                </div>

                <input type="submit" value="Создать" style="margin-bottom:10%" class="topicBTN"/>
                
            </form>
        </div>

        <div style="float:left; width: 65px; height: 100px;"></div>

        <div class="SignForm">

            <form asp-action="RoomJoin" asp-controller="Home" asp-antiforgery="true" method="post">
                <br />

                <h4 style="margin-bottom: 5%;">
                    Присоединение к комнате
                </h4>

                <div style="margin-bottom: 11%;">
                    @Html.Label("Имя")
                    <p>
                        <input type="text" name="Name" />
                    </p>
                </div>

                <div style="margin-bottom: 11%;">

                    @Html.Label("Id комнаты")
                    <p>
                        <input type="number" name="RoomId" />
                    </p>
                </div>

                <div style="margin-bottom: 7%;">
                    @Html.Label("Пароль")
                    <p>
                        <input type="password" name="Password" />
                    </p>
                </div>

                <br />


				<input type="submit" value="Присоединиться" style="margin-bottom:5%" class="topicBTN"/>                
            </form>
        </div>
    </div>
</div>