@model IEnumerable<PlanningPoker.Topic>

<table class="topicTable">
    <thead>
        <tr>
            <th class="col1">
            </th>
            <th class="col2">
                Задача
            </th>
            <th class="col3">
                Описание
            </th>
            <th class="col4">
                Оценка
            </th>
            <th class="col5"></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            @using (Html.BeginForm("StartVoting", "ScrumRoom", FormMethod.Post))
            {
                <tr>
                    <td class="col1">
                        <input id="IdTopic" name="IdTopic" type="hidden" value=@item.Id />
                        <input id="PokerRoomId" name="PokerRoomId" type="hidden" value=@ViewBag.PokerRoomId />
                        <input id="PlayerId" name="PlayerId" type="hidden" value=@ViewBag.PlayerId />
                        @if (item.Status == 1)
                        {
                            <input type="submit" class="topicBTN" value="Старт" />
                        }
                        else
                        {
                            <input type="submit" class="topicBTN" value="Стоп" />
                        }
                    </td>
                    <td class="col2">
                        @Html.DisplayFor(modelItem => item.Title)
                    </td>
                    <td class="col3">
                        @Html.DisplayFor(modelItem => item.Description)
                    </td>
                    <td class="col4">
                        @Html.DisplayFor(modelItem => item.Marks)
                    </td>
                    <td class="col5">
                        <a asp-action="EditTopic" asp-route-id="@item.Id">Редактировать</a> |
                        <a asp-action="DeleteTopic" asp-route-id="@item.Id">Удалить</a>
                    </td>
                </tr>

            }
        }
    </tbody>
</table>
