@model (List<PlanningPoker.Topic>, Dictionary<string, (string, string)>, List<PlanningPoker.Player>)
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@using (Html.BeginForm("DeletePokerRoom", "ScrumRoom", FormMethod.Post))
{
    <div class="deleteRoom">
        <input id="PokerRoomId" name="PokerRoomId" type="hidden" value=@ViewBag.PokerRoomId />
        <input type="submit" class="deleteBTN" value="Удалить" />
        <p class="roomName">Комната: @ViewBag.PokerRoomId  - @ViewBag.NamePlayer</p>
    </div>
}

<div>
    <div class="OneLineForm">
        <div class="formTopicCreate">
            @using (Html.BeginForm("TopicCreate", "ScrumRoom", FormMethod.Post))
            {
                <div class="topicCreate">
                    <div class="topicField">
                        @Html.Label("Title", "Задача")
                        <br />
                        @Html.TextBox("Title")
                    </div>
                    <br />
                    <div class="topicField">
                        @Html.Label("Description", "Описание")
                        <br />
                        @Html.TextArea("Description")
                    </div>
                    <input id="PokerRoomId" name="PokerRoomId" type="hidden" value=@ViewBag.PokerRoomId />
                    <input id="PlayerId" name="PlayerId" type="hidden" value=@ViewBag.PlayerId />
                    <input type="submit" id="topicBTN" class="topicBTN" value="Добавить" />
                </div>
            }
        </div>
    </div>
    <div class="OneLineForm">
        @{
            await Html.RenderPartialAsync("~/Views/Chat/_Chat.cshtml", new Message { PokerRoomId = ViewBag.PokerRoomId, PlayerId = ViewBag.PlayerId, CreateDate = DateTime.Today });
        }
    </div>
    <div class="OneLineForm">
        <p class="nametableOnline">Online пользователи:</p>
        <div class="OnlineUser">
            @{await Html.RenderPartialAsync("_OnlineUserList", Model.Item3);}
        </div>
    </div>
</div>

@{await Html.RenderPartialAsync("_ResultVoting", Model.Item2);}
@if (Model.Item1.Count() != 0)
{
    await Html.RenderPartialAsync("_TopicCreate", Model.Item1);
}

<script src="~/lib/signalr/dist/browser/signalr.js"></script>
<script src="~/js/voting.js"></script>
@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
<script>
    topicBTN.onclick = function () {
        if (window.document.getElementById("Title").value === '')
            alert('Не задано название задачи! Заполните поле "Задача"!');
    };
</script>