@model List<string>
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<p class="roomName">Комната: @ViewBag.PokerRoomId  - @ViewBag.NamePlayer</p>
@if (ViewBag.countTopicDiscussion != 0)
{
    <div class="topicDiscussion">
        <p>Задача: @ViewBag.Title</p>
        <p>Описание: @ViewBag.Title</p>
    </div>
    @using (Html.BeginForm("GetResultVote", "ScrumRoom", FormMethod.Post)) /*добавить метод обработки */
    {
        <input id="PokerRoomId" name="PokerRoomId" type="hidden" value=@ViewBag.PokerRoomId />
        <input id="PlayerId" name="PlayerId" type="hidden" value=@ViewBag.PlayerId />
        <input id="TopicId" name="TopicId" type="hidden" value=@ViewBag.IdTopic />

        <div class="commentField">
            @Html.Label("Comment", "Комментарий")
            <br />
            @Html.TextArea("Comment")
        </div>
        <div class="valueTopic">
            @foreach (var value in Model)
            {
                <input type="submit" name="ValueCard" class="topicDiscussionBTN" value=@value />
            }
        </div>
    }
}
else
{
    <div class="topicDiscussion">
        <p>Обсуждение еще не началось.</p>
    </div>
}